* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button, select, textarea {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #E5E5E5;
}

/* Pseudo Class Before => cria um elemento antes do body */
body::before {
    content: '';

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 360px;
    background: #121214;
}

.page {
    width: 736px;
    margin: auto;
}

header {
    width: 319px;
    margin-top: 74px;
}

header h1 {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    margin-bottom: 24px;
}

header p {
    font-size: 16px;
    line-height: 26px;
    color: #42D3FF;
}


/* Form */
form {
    background: #FAFAFC;
    border-radius: 8px 8px 0 0;
    margin-top: 38px;
    padding: 64px;

    /* Padronização de espaçamento entre as divs com as classes input-wrapper */
    display: flex;
    flex-direction: column;
    gap: 48px;
}

form fieldset {
    border: none; 
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

form fieldset legend {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;

    /* Borda inferior do legend ocupando 100% */
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
    width: 100%;
}

/* Inputs do formulário */
.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    margin-bottom: 8px;
}

/* Margem à esquerda do elemento span */
.input-wrapper label span {
    margin-left: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.input-wrapper label span {
    color: #6C6A71;
}

.input-wrapper input {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 56px;
    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;
    color: #C1BCCC;
}

.input-wrapper textarea {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 168px;
    max-width: 100%;
    padding: 0;

    font-size: 16px;
    line-height: 26px;
    color: #C1BCCC; 
}

.input-wrapper select {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 56px;
    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;
    color: #C1BCCC;

    /* Removendo seta padrão do menu select */
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;

    /* Criando seta personalizada */
    /* SVG To Base64 https://yoksel.github.io/url-encoder/ */
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}

/* Checkbox - Foi modificado o tipo checkbox padrão para criar o componente personalizado*/
.checkbox-wrapper{
    position: relative;
}

.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid #000;
}

/* Criação do input checkbox personalizado */
.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    margin: 0;

    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

/* Fieldset de Dia e hora */
.col-3 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* Para o elemento com a classe col-3, acesse o elemento div:nth-child(1) => :nth-child(1) significa pegar o primeiro filho, mas o ideal seria adicionar uma classe específica */
.col-3 > div:nth-child(1) {
    width: 100%;
}

footer {
    background: #F0F0F4;
    height: 136px;
    display: flex;
    flex-direction: column;
    padding: 40px 64px;
    margin-bottom: 100px;
    border-top: 1px solid #D6D6D6;
    border-radius: 0 0 8px 8px;
}

footer .button {
    height: 56px;
    background-color: #04D361;
    border: 0;
    border-radius: 8px;

    font-family: 'Archivo';
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
}

footer .button:hover {
    background-color: #08a04c;
}

input:invalid {
    border: 1px solid #FF1010;
}